{% load static %}
<!DOCTYPE html>
<head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
{% block startconnect %}
{% endblock %}
</head>
<body>

{% block title %}
<h1>Менеджер фотографий</h1>
{% endblock %}

{% if messages %}
	{% for message in messages %}
    <li>{{ message }}</li>
    {% endfor %}
{% endif %}

{% block auth %}
<a href="{% url 'login' %}">Войти</a>
<a href="{% url 'reg' %}">Зарегистрироваться</a>
{% endblock %}


    {% block content %}
    {% endblock %}


{% block endconnect %}
{% endblock %}

<script src="{% static 'js/script.js' %}"></script>
</body>
</html>
