{% extends 'mymanager/home.html' %}


{% block title %}
<h1>Форма аутентификации</h1>
{% endblock %}

{% if messages %}
	{% for message in messages %}
    <li>{{ message }}</li>
    {% endfor %}
{% endif %}

{% block auth %}{% endblock %}


{% block content %}
	<form method="post" action="{% url 'login' %}">
		{% csrf_token %}
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    {% if info %}
                        <span>{{ info }}</span>
                    {% endif %}
                     <input type="text" class="form-control" placeholder="Введите логин" name="username" aria-label="Username"><br>
                     <input type="text" class="form-control" placeholder="Введите пароль"  name="password" aria-label="Password"><br>
                     <button type="submit" class="btn btn-light">Войти</button>
                </div>
            </div>
        </div>
	</form>
{% endblock %}