{% extends 'mymanager/home.html' %}


{% block title %}
<h1>Форма регистрации</h1>
{% endblock %}


{% if messages %}
		{% for message in messages %}
	    <li>{{ message }}</li>
	    {% endfor %}
	{% endif %}
	
{% block auth %}{% endblock %}

{% block content %}

	<form method="post" action="{% url 'reg' %}">
		{% csrf_token %}
		<input type="text" name="username" placeholder="Введите логин"><br>
		<input type="text" name="password" placeholder="Введите пароль"><br>
		<button type="submit">Зарегистрироваться</button>
	</form>
{% endblock %}