{% extends 'mymanager/home.html' %}

{% block title %}
    <h1>Фото Менеджер</h1>
{% endblock %}

{% block auth %}
    <a href="{% url 'logout' %}">Выйти</a><br>
{% endblock %}

{% block content %}
    {{ request.user }}
    <div class="row"></div>
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    <div class="row">
        <a href="{% url 'upload_image' %}">Загрузить фото</a><br>
        <a href="/main?sort={{ sort }}">Сортировка по названию</a><br>
        <input type="text" id="sort_title" placeholder="Фильтр по названию"><br>
    </div>
    <div id="gallery" class="row">

        {% if images %}
            {% for x in images %}
                <div class="col-3 photo-item text-center" data-title="{{ x.title }}">
                    <h4>{{ x.title }}</h4>
                    <img src="{{ x.image_url.url }}">
                    <a href="{% url 'remove_image' x.id %}">Удалить</a>
                </div>
            {% endfor %}
        {% endif %}
    </div>
{% endblock %}