{% extends 'mymanager/home.html' %}

{% block title %}
    <h1>Фото Менеджер</h1>
{% endblock %}

{% block auth %}
    <a href="{% url 'logout' %}">Выйти</a><br>
{% endblock %}

{% block content %}
    {{ request.user }}
    <div class="row"></div>
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    <div class="row">
        <a href="{% url 'upload_image' %}">Загрузить фото</a><br>
        <a href="/main?sort={{ sort }}">Сортировка по названию</a><br>
        <input type="text" id="sort_title" placeholder="Фильтр по названию"><br>
    </div>
    <div id="gallery" class="row">

        {% if images %}
            {% for x in images %}
                <div class="col-3 photo-item text-center" data-title="{{ x.title }}">
                    <h4>{{ x.title }}</h4>
                    <img src="{{ x.image_url.url }}">
                    <a href="{% url 'remove_image' x.id %}">Удалить</a>
                </div>
            {% endfor %}
        {% endif %}


        {% if paginator.num_pages > 1 %}
            <div class="pagination">
                <div class="block_pagination">
                    {% if images.has_previous %}
{#                        <a href="?page=1">&laquo; first</a>#}
                        <a href="?page={{ images.previous_page_number }}">previous</a>
                    {% endif %}
                    <span class="list_pages">
                        {% for page in paginator.page_range %}
                            <a href="?page={{ page }}">{{ page }}</a>
                        {% endfor %}
                    </span>
                    {% if images.has_next %}
                        <a href="?page={{ images.next_page_number }}">next</a>
{#                        <a href="?page={{ images.paginator.num_pages }}">last &raquo;</a>#}
                    {% endif %}
                </div>
                <div class="view_pagination">
                    <span class="current">
                        Page {{ images.number }} of {{ images.paginator.num_pages }}.
                    </span>
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}